<div class="container-fluid page-content">
  <div class="row">
    <div class="col-10">
      <nav class='opinion_nav'>
        <%= link_to 'opinions', opinions_path %>
      </nav>
      <%= render 'opinion_form'%>
      <%= render 'user_opinions'%>
    </div>
    <div class="col-2">
      <h6>Who to follow</h6>
        <% @users.each do |us|%>
          <% unless current_user?(us) %>
            <% unless current_user.following?(us) %>
              <h6><%= us.fullname %></h6>
              <% @user = us %>
              <%= render 'users/follow_form' %>
            <%end%>
          <%end%>
        <%end%>
    </div>
  </div>
</div>
