<div class="container w-50 mt-5 border border rounded border-light p-5">
  <div class="text-center">
    <h3>Signup Here</h3>
    <p>To share your farming opinions</p>
  </div>
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
      <%= f.label :fullname %>
      <%= f.text_field :fullname, required: true, class: 'form-control', placeholder: 'fullname'%>
    </div>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, required: true, class: 'form-control', placeholder: 'username'%>
    </div>
    <button type="submit" class="btn btn-primary">Create Acccount</button>
  <% end %>
</div>
